In [1]:
import pandas as pd

In [2]:
budget_data= pd.read_csv("output/Movie_Budget_The_Numbers.csv", encoding="utf-8")
budget_data.head(100)

,Unnamed: 0,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,1,23-Apr-19,Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,2,20-May-11,Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,071,802","$1,045,713,802"
2,3,22-Apr-15,Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,395,316,979"
3,4,16-Dec-15,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,064,615,817"
4,5,25-Apr-18,Avengers: Infinity War,"$300,000,000","$678,815,482","$2,044,540,523"
...,...,...,...,...,...,...
95,96,22-May-19,Aladdin,"$182,000,000","$355,559,216","$1,046,649,706"
96,97,25-Oct-17,Thor: Ragnarok,"$180,000,000","$315,058,289","$850,482,778"
97,98,9-Dec-05,"The Chronicles of Narnia: The Lion, the Witch a…","$180,000,000","$291,710,957","$720,539,572"
98,99,28-May-14,Maleficent,"$180,000,000","$241,407,328","$758,536,735"
99,100,14-Nov-16,Fantastic Beasts and Where to Find Them,"$180,000,000","$234,037,575","$811,724,385"

In [3]:
budget_data.dtypes

Unnamed: 0           object
Release Date         object
Movie                object
Production Budget    object
Domestic Gross       object
Worldwide Gross      object
dtype: object

In [4]:
budget_data['Production Budget'] =budget_data['Production Budget'].str[2:]

In [5]:
budget_data.head()

,Unnamed: 0,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,1,23-Apr-19,Avengers: Endgame,"400,000,000","$858,373,000","$2,797,800,564"
1,2,20-May-11,Pirates of the Caribbean: On Stranger Tides,"379,000,000","$241,071,802","$1,045,713,802"
2,3,22-Apr-15,Avengers: Age of Ultron,"365,000,000","$459,005,868","$1,395,316,979"
3,4,16-Dec-15,Star Wars Ep. VII: The Force Awakens,"306,000,000","$936,662,225","$2,064,615,817"
4,5,25-Apr-18,Avengers: Infinity War,"300,000,000","$678,815,482","$2,044,540,523"

In [6]:
budget_data['Production Budget']= budget_data['Production Budget'].str.replace(',','')

In [7]:
budget_data['Production Budget'] = pd.to_numeric(budget_data['Production Budget'])

In [8]:
budget_data.head()

,Unnamed: 0,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,1,23-Apr-19,Avengers: Endgame,400000000,"$858,373,000","$2,797,800,564"
1,2,20-May-11,Pirates of the Caribbean: On Stranger Tides,379000000,"$241,071,802","$1,045,713,802"
2,3,22-Apr-15,Avengers: Age of Ultron,365000000,"$459,005,868","$1,395,316,979"
3,4,16-Dec-15,Star Wars Ep. VII: The Force Awakens,306000000,"$936,662,225","$2,064,615,817"
4,5,25-Apr-18,Avengers: Infinity War,300000000,"$678,815,482","$2,044,540,523"

In [9]:
highest_budget= budget_data["Production Budget"].max()
print(highest_budget)

400000000

In [10]:
lowest_budget= budget_data["Production Budget"].min()
print(lowest_budget)

1100

In [11]:
budget_data['Domestic Gross'] =budget_data['Domestic Gross'].str[2:]
budget_data['Domestic Gross']= budget_data['Domestic Gross'].str.replace(',','')
budget_data['Domestic Gross'] = pd.to_numeric(budget_data['Domestic Gross'])

In [12]:
budget_data['Worldwide Gross'] =budget_data['Worldwide Gross'].str[2:]
budget_data['Worldwide Gross']= budget_data['Worldwide Gross'].str.replace(',','')
budget_data['Worldwide Gross'] = pd.to_numeric(budget_data['Worldwide Gross'])

In [13]:
budget_data.head()

,Unnamed: 0,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,1,23-Apr-19,Avengers: Endgame,400000000,858373000,2797800564
1,2,20-May-11,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,3,22-Apr-15,Avengers: Age of Ultron,365000000,459005868,1395316979
3,4,16-Dec-15,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817
4,5,25-Apr-18,Avengers: Infinity War,300000000,678815482,2044540523

In [14]:
budget_data['Release Date']= pd.to_datetime(budget_data['Release Date'],errors='coerce')

In [15]:
budget_data.head()

,Unnamed: 0,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,1,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,3,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979
3,4,2015-12-16,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817
4,5,2018-04-25,Avengers: Infinity War,300000000,678815482,2044540523

In [16]:
budget_data.dtypes

Unnamed: 0                   object
Release Date         datetime64[ns]
Movie                        object
Production Budget             int64
Domestic Gross                int64
Worldwide Gross               int64
dtype: object

In [17]:
budget_data.Movie = budget_data.Movie.astype('string')

In [18]:
budget_data.dtypes

Unnamed: 0                   object
Release Date         datetime64[ns]
Movie                        string
Production Budget             int64
Domestic Gross                int64
Worldwide Gross               int64
dtype: object

In [19]:
budget_data=budget_data.drop(["Unnamed: 0"], axis=1)

In [20]:
budget_data.dtypes

Release Date         datetime64[ns]
Movie                        string
Production Budget             int64
Domestic Gross                int64
Worldwide Gross               int64
dtype: object

In [21]:
budget_data.head()

,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2044540523

In [22]:
budget_data.to_csv("output/clean_budget_data.csv")