In [26]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
import psycopg2 as pg

from db_config import db_user
from db_config import db_pass
from db_config import db_host
from db_config import DB

In [27]:
movie_start_df = pd.read_csv("output/upcoming_movie.csv")
movie_start_df['budget'] = 21000000
movie_start_df['boxoffice'] = 0
movie_start_df['buzz'] = 4

movie_start_df

,movie_id,title,movie_rating,release_date,runtime,metascore,imdb_rating,budget,boxoffice,buzz
0,1,Dune,PG-13,2021-10-22,155,75.0,8.4,21000000,0,4
1,3,Ron's Gone Wrong,PG,2021-10-22,106,68.0,6.3,21000000,0,4
2,8,The Souvenir: Part II,R,2021-10-29,106,98.0,8.0,21000000,0,4
3,12,Spencer,R,2021-11-05,111,85.0,6.4,21000000,0,4
4,24,Mothering Sunday,R,2021-11-19,110,69.0,6.2,21000000,0,4
5,30,The Humans,R,2021-11-24,108,78.0,7.3,21000000,0,4
6,33,Red Rocket,R,2021-12-03,128,78.0,7.0,21000000,0,4
7,39,Swan Song,R,2021-08-13,105,66.0,7.0,21000000,0,4

In [28]:
movie_start_df.to_csv("output/upcoming_movie_table.csv", index=False)

In [22]:
engine = create_engine(f"postgresql://{db_user}:{db_pass}@{db_host}:5432/{DB}")
conn = engine.connect()

In [23]:
session = Session(bind=engine)

In [25]:
movie = pd.read_csv('output/upcoming_movie_table.csv', index_col=0)
movie.to_sql('Movie', con = conn, if_exists='append', chunksize = 100000, method ='multi')

In [ ]:
genre = pd.read_csv('output/upcoming_genre_table.csv', index_col=0)
genre.to_sql('Genre', con = conn, if_exists='append', chunksize = 100000, method ='multi')

In [ ]:
role = pd.read_csv('output/upcoming_role_table.csv', index_col=0)
role.to_sql('Role', con = conn, if_exists='append', chunksize = 100000, method ='multi')

In [ ]:
person = pd.read_csv('output/upcoming_person_table.csv', index_col=0)
person.to_sql('Person', con = conn, if_exists='append', chunksize = 100000, method ='multi')

In [ ]:
movie_person_role_juction = pd.read_csv('output/upcoming_movie_role_person_junction_table.csv', index_col=0)
movie_person_role_juction.to_sql('Movie_Person_Role_Junction', con = conn, if_exists='append', chunksize = 100000, method ='multi')

In [ ]:
movie_genre_juction = pd.read_csv('output/upcoming_movie_genre_junction_table.csv', index_col=0)
movie_genre_juction.to_sql('Movie_Genre_Junction', con = conn, if_exists='append', chunksize = 100000, method ='multi')

In [ ]:
session.close()